[submodule "sdk/argeo-build"]
	path = sdk/argeo-build
	url = ../argeo-build
	branch = unstable
[submodule "rebuild/org.argeo.tp.desktop/src/WorldWindJava"]
	path = rebuild/org.argeo.tp.desktop/src/WorldWindJava
	url = https://github.com/WorldWindEarth/WorldWindJava.git
[submodule "rebuild/org.argeo.tp.sys/src/angus-mail"]
	path = rebuild/org.argeo.tp.sys/src/angus-mail
	url = https://github.com/eclipse-ee4j/angus-mail.git
[submodule "rebuild/org.argeo.tp.sys/src/gdal"]
	path = rebuild/org.argeo.tp.sys/src/gdal
	url = https://github.com/OSGeo/gdal.git
