[submodule "sdk/argeo-build"]
	path = sdk/argeo-build
	url = http://git.argeo.org/cc0/argeo-build.git
	branch = unstable
[submodule "src/org.argeo.tp/ee4j-mail"]
	path = src/org.argeo.tp/ee4j-mail
	url = https://github.com/eclipse-ee4j/mail.git
