#!/usr/bin/make -f

LC_ALL := C.UTF-8
export LC_ALL

JAVA_HOME := /usr/lib/jvm/java-17-openjdk-amd64
export JAVA_HOME

# do not include sources in the jar files
export BUILD_SOURCE_BUNDLES:=true

%:
	dh $@
