<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="argeo-tp-backend">
	<locations>
		<location path="${project_loc:argeo-tp-unstable}/../output/a2/org.argeo.tp.jetty" type="Directory"/>
		<location path="${project_loc:argeo-tp-unstable}/../output/a2/org.argeo.tp.formats" type="Directory"/>
		<location path="${project_loc:argeo-tp-unstable}/../output/a2/org.argeo.tp.poi" type="Directory"/>
		<location path="${project_loc:argeo-tp-unstable}/../output/a2/org.argeo.tp.gis" type="Directory"/>
		<location path="${project_loc:argeo-tp-unstable}/../output/a2/osgi/equinox/org.argeo.tp.eclipse" type="Directory"/>
		<location path="${project_loc}/../output/a2/org.argeo.tp.jcr" type="Directory"/>
		<location type="Target" uri="file:${project_loc:argeo-tp-unstable}/sdk/output-argeo-tp-minimal.target"/>
	</locations>
</target>