<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="argeo-tp-minimal">
	<locations>
		<location path="${project_loc:argeo-tp}/../output/a2/org.argeo.tp" type="Directory"/>
		<location path="${project_loc:argeo-tp}/../output/a2/osgi/equinox/org.argeo.tp.osgi" type="Directory"/>
		<location path="${project_loc:argeo-tp}/../output/a2/osgi/equinox/org.argeo.tp.eclipse" type="Directory"/>
		<location path="${project_loc:argeo-tp}/../output/a2/org.argeo.tp.jetty" type="Directory"/>
		<location path="${project_loc:argeo-tp}/../output/a2/org.argeo.tp.sdk" type="Directory"/>
	</locations>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
</target>